:root {
	--corner: 75%;
	--background: black;
	--foreground: white;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-family: "Courier New", monospace;
	background-color: grey;
}

#grid-page {
	margin: 0;
	padding: 1em;
	display: grid;
	grid-template-columns: auto auto;
/* 	border: 1px solid #ff0000; */
}

#grid-settings {
	width: 22em;
/* 	padding: 1em; */
/* 	border: 1px solid #ffff00; */
}

#grid-intro {
	margin-bottom: 1em;
/* 	border: 1px solid #ff0000; */
}

#grid-prefs {
	display: grid;
/* 	grid-template-columns: repeat (3, auto); */
	grid-template-columns: 50% 50%;
	margin-bottom: 1em;
/* 	border: 1px solid #00ff00; */
}

#grid-symmetry {
/* 	margin-bottom: 1em; */
/* 	margin-right: 5%; */
/* 	border: 1px solid #0000ff; */
}

#grid-column2 {
/* 	margin-bottom: 1em; */
/* 	padding-left: 1em; */
/* 	margin-right: 1em; */
/* 	border: 1px solid #00ff99; */
}

#grid-colors {
	margin-bottom: 1em;
/* 	padding-left: 1em; */
/* 	margin-right: 1em; */
/* 	border: 1px solid #00ff99; */
}

#grid-corners {
/* 	margin-bottom: 1em; */
/* 	padding-left: 1em; */
/* 	margin-right: 1em; */
/* 	border: 1px solid #ff9900; */
}

#grid-reset {
	margin-bottom: 1em;
/* 	border: 1px solid #ff9900; */
}

#grid-download {
	margin-bottom: 1em;
/* 	border: 1px solid #ff9900; */
}

#grid-data {
	margin-bottom: 1em;
/* 	border: 1px solid #ff9900; */
}

#grid-artwork {
	width: 700px;
	height: 700px;
}

/* Begin Element Styles */

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	font-size: 1em;
	line-height: 1em;
	margin: 0;
	padding: 0;
}

p {
	margin: 0.5em 0;
	padding: 0;
}

label, .button, .reset, .download {
	width: 3.82em;
	margin: 0;
	padding: 0.125em;
	font-size: 1em;
	line-height: 1.5em;
	font-family: "Courier New", monospace;
	background-color: lightgrey;
	border-width: 0;
}

#grid-colors input {
	width: 5em;
	height: 5em;
	margin: 0;
	padding: 0;
	border: none;
	border-style: none;
	outline: none;
	background-color: transparent;
}

#grid-corners input {
	width: 3em;
	height: 3em;
	margin: 0;
	padding: 0;
	background-color: lightgrey;
}

.download {
	width: 21.5em;
}

textarea {
	width: 21em;
	margin: 0;
	padding: 0.25em;
	font-size: 1em;
	line-height: 1.0em;
	font-family: "Courier New", monospace;
	background-color: #aaa;
	border-width: 0;
}

/* Begin Artwork Styling*/

#placement {
	position: relative;
	width: 700px;
	height: 700px;
}

#container {
	width: 700px;
	height: 700px;
}

.pixel {
	position: absolute;
	width: 100px;
	height: 100px;
	margin: 0;
	padding: 0;
	/* 	border: 1px solid red; */
	overflow: hidden;
	z-index: 10;
}

.pixel:hover {
	border: 2px solid grey;
	margin: -2px;
	z-index: 100;
}

.a, .b, .c, .d, .e, .f {
	position: absolute;
	width: 100px;
	height: 100px;
}

.a {
/* 	border-radius: 0; */
}

.b, .c, .d, .e {
	width: 101px;
	height: 101px;
	margin: -1px;
}

.b {
/* 	margin: 0 -1px -1px 0; */
	margin-top: 0;
	right: 0;
	bottom: 0;
	margin-left: 0;
	border-radius: var(--corner) 0 0 0;
}

.c {
/* 	margin: 0 0 -1px -1px; */
	margin-top: 0;
	margin-right: 0;
	bottom: 0;
	left: 0;
	border-radius: 0 var(--corner) 0 0;
}

.d {
/* 	margin: -1px 0 0 -1px; */
	top: 0;
	margin-right: 0;
	margin-bottom: 0;
	left: 0;
	border-radius: 0 0 var(--corner) 0;
}

.e {
/* 	margin: -1px -1px 0 0; */
	top: 0;
	right: 0;
	margin-bottom: 0;
	margin-left: 0;
	border-radius: 0 0 0 var(--corner);
}

.f {
	opacity: 0;
}

.background {
	background-color: var(--background);
	transition: background-color 1s;
}

.a, .b, .c, .d, .e, .f {
	background-color: var(--foreground);
	transition: border-radius 0.15s, opacity 0.25s, background-color 0.35s;
}