:root {
	--grey0: #1A1C1E;
	--grey1: #2A2A32;
	--grey2: #474A52;
	--grey3: #9296A0;
	--grey4: #E4E5E7;
	--color0: #FFCC2D;
	--color1: #FF1C52;
	--color2: #6806CC;
	--color3: #1E5AF2;
	--background: black;
	--foreground: white;
	--buttonA: 4em;
	--buttonB: 2em;
	--buttonC: 2em;
	/* Using manual overrides of 100px, 101px, and -1px used to be required in some browsers, unsure now with Safari giving me issues with rendering/downloading */
	--tileSizeA: 100%;
	--tileSizeB: 100%;
	--tileOffset: 0;
	--corner: 75%;
	--cornerUI: 0.25em;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Outfit", sans-serif;
	font-size: 1em;
  font-optical-sizing: auto;
	font-weight: 200;
	background-color: var(--grey0);
	color: var(--grey4);
	cursor: default;
}

#grid-page {
	margin: 0;
	padding: 2em;
	display: grid;
	grid-template-columns: 23em auto;
	-webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
/* 	border: 1px solid #ff0000; */
}

#grid-settings {
	width: 22em;
/* 	padding: 1em; */
/* 	border: 1px solid #ffff00; */
}

#grid-intro {
	margin-bottom: 1em;
/* 	border: 1px solid #ff0000; */
}

#grid-prefs {
	display: grid;
	grid-template-columns: 50% 50%;
	margin-bottom: 1em;
/* 	border: 1px solid #00ff00; */
}

#grid-symmetry {
/* 	border: 1px solid #0000ff; */
}

#grid-column2 {
/* 	border: 1px solid #00ff99; */
}

#grid-size {
/* 	border: 1px solid #ff9900; */
}

#grid-colors {
/* 	border: 1px solid #00ff99; */
}

#grid-data {
	margin-bottom: 1em;
/* 	border: 1px solid #ff9900; */
}

#grid-artwork {
/* 	border: 1px solid #0099ff; */
}



/* Begin Element Styles */

.flex {
	display: flex;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
	font-size: 1.5em;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
}

p {
	margin: 0.5em 0;
	padding: 0;
}

input, label, .dimension, .reset, .download {
	margin: 0;
	font-size: 1em;
	line-height: 1.6em;
	text-align: center;
	border-width: 0;
	cursor: pointer;
/* 	border: solid 1px red; */
}

input {
	background-color: var(--grey2);
	color: var(--grey4);
	border-radius: var(--cornerUI);
}

.dimension {
	position: relative;
	width: 8em;
	height: var(--buttonB);
	padding: 0;
	margin-right: 0.5em;
}

.readout {
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: var(--buttonB);
	text-align: center;
}

#canvasDecrease, #canvasIncrease {
	position: absolute;
	text-align: center;
/* 	background: rgba(255, 0, 0, 0.2); */
	cursor: pointer;
}

#canvasDecrease {
	top: 0;
	left: 0;
	text-align: left;
	width: var(--buttonA);
	height: var(--buttonB);
	line-height: var(--buttonB);
}

#canvasIncrease {
	top: 0;
	right: 0;
	text-align: right;
	width: var(--buttonA);
	height: var(--buttonB);
	line-height: var(--buttonB);
}

#grid-colors input {
  appearance: none;
	width: var(--buttonB);
	height: var(--buttonB);
	margin: 0 0.25em 0 0;
/* 	padding: 1.0em; */
	outline: none;
  border-radius: var(--cornerUI);
	border: 1px solid black;
}

#grid-colors input:hover {
	border-color: rgba(255, 255, 255, 0.5);
}

#grid-colors input:checked {
	border-color: white;
}

#grid-colors input.transparent, #grid-colors input.random {
	border-style: dotted;
	border-width: 2px;
}

#grid-colors input.transparent::before {
	content: "🚫";
}

#grid-colors input.random::before {
	content: "🔄";
}

.reset {
	width: 4.9em;
	margin: 0 0.1em 0 0;
}

.download {
	width: 20.6em;
}

textarea {
	width: 20em;
	margin: 0;
	padding: 0.25em;
	font-size: 1em;
	line-height: 1.0em;
	font-family: "Courier New", monospace;
/* 	background-color: var(--grey1); */
	background-color: transparent;
	color: var(--grey4);
	border-width: 0;
}



/* Begin Icon Styling */

#placement {
	position: relative;
/* 	transform: scale(0.5); */
	border: solid 2px black;
}

#container {
/* 	border: 2px solid green; */
}

.pixel {
	position: absolute;
	margin: 0;
	padding: 0;
	overflow: hidden;
	z-index: 10;
/* 	border: 1px solid red; */
}

.pixel:hover {
	border: solid 1px var(--color0);
	margin: -1px;
	z-index: 100;
}

.a, .b, .c, .d, .e, .f {
	position: absolute;
	width: var(--tileSizeA);
	height: var(--tileSizeA);
	transform: scale(1.0);
}

.a {
	transform: scale(0.0);
	border-radius: 100%;
}

.b, .c, .d, .e {
	width: var(--tileSizeB);
	height: var(--tileSizeB);
	margin: var(--tileOffset);
}

.b {
	margin-top: 0;
	right: 0;
	bottom: 0;
	margin-left: 0;
	border-radius: var(--corner) 0 0 0;
}

.c {
	margin-top: 0;
	margin-right: 0;
	bottom: 0;
	left: 0;
	border-radius: 0 var(--corner) 0 0;
}

.d {
	top: 0;
	margin-right: 0;
	margin-bottom: 0;
	left: 0;
	border-radius: 0 0 var(--corner) 0;
}

.e {
	top: 0;
	right: 0;
	margin-bottom: 0;
	margin-left: 0;
	border-radius: 0 0 0 var(--corner);
}

.f {
}

.background {
	background-color: var(--background);
	transition: background-color 0.5s;
}

.a, .b, .c, .d, .e, .f {
	background-color: var(--foreground);
	transition-property: border-radius, transform, opacity, background-color;
	transition-duration: 0.125s;
	transition-timing-function: ease-out;
}